 html {
	height:100%;
 }

 body#homescreen {
	background-image: url("images/polybacklow.png");
	background-size: cover;
	min-height:100%;
	height:100%;
	margin:0;
	padding:0;
 }

 div#leftpad {
	width: 25%;
	height: 100%;
	float:left;
	background-color: rgba(0,0,0,0);
 }
 
 img#namedesc {
	padding-top:25vh;
	width:50%;
 }
 
 ul#menubar {
	width:50%;
	display: inline-block;
	list-style-type: none;
	padding:0;
	margin:0;
 }
 
 ul#menubar li{
	display: inline;
 }
 
 ul#menubar li a img {
	 float:left;
	width:10%;
	padding:10px;
	padding-left:11.66%;
	padding-right:11.66%;
	transition: background 0.15s linear;
	background-color: rgba(0,0,0,0.5);
 }

 ul#menubar li a img:hover {
	background-color: rgba(0,0,0,0.75);
 }
 
 video#idubbbzvideo {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
 }